{% extends "home/base.html" %}

{% block content %}
<div class="container" style="margin-top: 10%; font-family: Karla;">
    <h1 class="text-center my-4">Eligibility For Donating Blood</h1>
    <p class="lead" style=" font-size:18px; font-family: Rubik; font-weight: 400; color: black;">
        <span> If you are eligible, you may register as a blood donor, but at the time of donating blood, follow the instructions mentioned below:</span>
        <br>
        <li>         Your weight should be 45kg or above
        </li>
         <br>
  
        <li> Pulse rate should be between 50 and 100 per minute, without any irregularities.</li>
         <br>
        <li> Blood pressure should be diastolic 50 to 100 mm Hg and Systolic 100 to 180 mm Hg.</li>
         <br>
         <li>Body temperature should be normal and oral temperature should not exceed 37.5 degree Celsius.</li>
         <br>
        <li> Should not have undergone any treatment for rabies or received Hepatitis B immune globulin within the past one year.</li>
         <br>
         <li>Should not have donated blood within the last three months.</li>
         <br>
        <li> Should not have been treated for malaria within the last three months.</li>
         <br>
         
         <li>Should not have undergone any immunization within the past one month.</li>
         <br>
        <li> Should not have undergone any dental work or taken aspirin within the last 72 hours.</li>
         <br>
        <li> Should not have consumed alcohol within the last 9 hours.</li>
         <br>
         <i>                          If you have any chronic disease that is not mentioned here, you may register, but please inform the patient or the doctor or the hospital staff before you donate blood.
         </i>  <br><br><br>                       
         <b>                           Please do not register as a blood donor or donate blood in case
         </b><br>
         You are HIV+.
         <br>
         You are suffering, or have a history of cancer.
         <br>
         You are suffering from any blood clotting disorder, such as haemophilia.
         
                               </div>
</div>
{% endblock content %}