 {% extends 'home/base.html' %} 
 {% load static %}
{% block content %}
<div class="hero-area-l11 position-relative overflow-hidden">
      <div class="container position-relative">
        <div class="row position-relative justify-content-center">
          <div class="col-xl-8 col-lg-9 col-md-12 order-lg-1 order-1" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
            <div class="content">
              <h1><span style="color:#b12d2d;">Sociio Ichor.</span><br class="d-none d-md-block"> Gift a life. </h1>
              <div class="row banner-l-11-bottom-content">
                <div class="col-lg-8 col-md-8 col-sm-10">
                  <p class="position-relative banner-main-content-l-11">
                  Sociio Ichor aims to bridge the gap between donors and patients to make sure no lives are lost due to shortage of blood.
                    <span class="line-left-content"></span>
                  </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 flex-y-center ">
                  <a class="btn l-11-hero-btn" href="{% url 'home:donate' %}">Donate now</a>
                </div>
                <!-- <div class="col-xl-3 col-lg-4">
                  <div class="compitable-text border-top d-inline-block">
                    <p>Compitable with:</p>
                    <div class="compatible-icon flex-y-center img-grayscale">
                      <a href="#" class="font-size-13 mr-7"><img src="./image/l2/windows.svg" alt=""></a>
                      <a href="#" class="font-size-13 mr-7"><img src="./image/l2/apple.svg" alt=""></a>
                      <a href="#" class="font-size-13"><img src="./image/l2/penguine.svg" alt=""></a>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
         
       
        </div>
        <div class="container-fluid ichor-points my-5 ">

          <div class="row">
              <div class="col-lg-3">
                  <div class="card" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
                      <i class="fa fa-tint  px-3 text-center py-3" style="font-size:48px;"></i>
                      <p class="lead px-3 my-3 text-center">Every day <span class="text-red">12,000</span> people die due to blood shortage.</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
                      <i class="fa fa-child px-3 text-center py-3" style="font-size:48px;"></i>
                      <p class="lead px-3 my-3 text-center"><span class="text-red">Myths</span> surrounding blood donation.</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
                      <i class="fa fa-paper-plane  px-3 text-center py-3" style="font-size:48px;"></i>
                      <p class="lead px-3 my-3 text-center"><span class="text-red">Gazillion</span> untargeted messages on social media.</p>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
                      <i class="fa fa-stethoscope  px-3 text-center py-3" style="font-size:48px;"></i>
                      <p class="lead px-3 my-3 text-center"><span class="text-red">4100+</span> units of blood get wasted everyday.</p>
                  </div>
              </div>
          </div>
  
      </div>
      
          <div class="col-lg-12 order-lg-1 order-0" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
            <video src="{% static 'home/image/ichor.mp4' %}" controls width="100%" style="border-radius: 7px;"></video>
            <!-- <img src="image/l2/laptop-screen.png" alt="" class="w-100 hero-l11-main-image"> -->
          </div>
        </div>
      </div>
      <div class="hero-shape-l11-1 d-none d-md-block">
        <img src="{% static 'home/image/l2/hero-shape-1.svg' %}" alt="">
      </div>
      <div class="hero-shape-l11-2 d-none d-md-block">
        <img src="{% static 'home/image/l2/hero-shape-2.png' %}" alt="">
      </div>
    </div>
    <!-- Brand-area -->
    <div class="brand-area-l11">
      <div class="container">
        <div class="row img-grayscale">
          <div class="col-lg-12" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
            <div class="brand-logos d-flex justify-content-center justify-content-xl-between align-items-center flex-wrap ">
              <div class="single-brand">
                <img src="{% static 'home/image/l2/brand-logo.svg' %}" alt="">
              </div>
              <div class="single-brand">
                <img src="{% static 'home/image/l2/brand-logo-1.svg' %}" alt="">
              </div>
              <div class="single-brand">
                <img src="{% static 'home/image/l2/brand-logo-2.svg' %}" alt="">
              </div>
              <div class="single-brand">
                <img src="{% static 'home/image/l2/brand-logo-3.svg' %}" alt="">
              </div>
              <div class="single-brand">
                <img src="{% static 'home/image/l2/brand-logo-4.svg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area-1 -->
    <div class="content-area-l-11-1">
      <div class="container">
        <div class="row align-items-center justify-content-lg-start justify-content-center">
          <div class="col-xl-6 col-md-5 col-md-10" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content-img position-relative z-index-1">
              <img src="https://img.graphicsurf.com/2020/08/blood-donation-vector-illustration.jpg" alt="" class="w-100">
            </div>
          </div>
          <div class="offset-xxl-1 col-xxl-5 col-xl-6 col-lg-7 col-md-9" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="content section-heading-5">
              <h2>
                Connecting blood donors and patients 
              </h2>
              <p>
We send requests to all the nearby blood banks,
                            ridding you of the hassle to look around to find a suitable donor. We aim to inculcate blood donation into the lifestyle of donors to balance the existing supply-demand gap.              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area-2  -->
    <div class="content-area-l-11-2">
      <div class="container">
        <div class="row align-items-center justify-content-lg-between justify-content-center">
          <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-9 order-lg-1 order-1" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content section-heading-5">
              <h2>
                Donors Get Additional Perks
              </h2>
              <div class="d-flex content-l-11-3-card">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="27" viewBox="0 0 32 27">
                  <g>
                    <g>
                      <g>
                        <path class="mypath1" fill="none" stroke="#258aff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M25.528 25.615v0h5.47v0-5.911c0-.56-.341-1.062-.86-1.27l-5.118-2.05a1.367 1.367 0 0 1-.86-1.267v-1.2a5.445 5.445 0 0 0 2.735-4.711V6.471a5.47 5.47 0 0 0-8.205-4.738">
                        </path>
                      </g>
                      <g>
                        <path class="mypath1" fill="none" stroke="#258aff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M19.367 19.846l-5.14-2.036a1.358 1.358 0 0 1-.864-1.257v-1.192a5.394 5.394 0 0 0 2.747-4.676V7.97c0-2.999-2.46-5.43-5.495-5.43-3.034 0-5.494 2.431-5.494 5.43v2.715a5.394 5.394 0 0 0 2.747 4.676v1.192c0 .555-.342 1.054-.864 1.26l-5.14 2.036c-.52.206-.863.703-.864 1.257v4.51h19.23v0-4.51c0-.555-.342-1.054-.863-1.26z">
                        </path>
                      </g>
                    </g>
                  </g>
                </svg>
                <div class="content-body">
                  <h5>Easy setup process</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, aliquam!</p>
                </div>
              </div>
              <div class="d-flex content-l-11-3-card">
                <img src="{% static 'home/image/l2/settings.svg' %}" alt="icon">
                <div class="content-body">
                  <h5>Built for real users</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 offset-xxl-2 col-xl-6 col-lg-5 col-md-9 order-lg-1 order-0" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="content-img">
              <img src="{% static 'home/image/l2/content-img1.jpg' %}" alt="" class="w-lg-auto w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area -->
    <!-- <div class="content-area-l-11-3 position-relative">
      <div class="container">
        <div class="row align-items-center justify-content-center justify-content-lg-start">
          <div class="col-xl-6 col-lg-6 col-md-8 order-lg-1 order-0" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <div class="content-img">
              <img src="image/l2/content-img3.png" alt="" class="w-100">
            </div>
          </div>
          <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-9 order-lg-1 order-1" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
            <div class="content section-heading-5">
              <h2>Completely Free for Everyone.</h2>
              <p>Event is not like most tech conferences. We want our presentations to engage the audience, spark
                discussion and inspire new ideas. </p>
              <ul class="list-unstyled pl-0">
                <li class="d-flex align-items-center">
                  <i class="fas fa-check"></i>Unlimited design possibility
                </li>
                <li class="d-flex align-items-center">
                  <i class="fas fa-check"></i>Completely responsive
                </li>
                <li class="d-flex align-items-center">
                  <i class="fas fa-check"></i>Easy to customize
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Feature Area -->
    <div class="feature-l-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 px-lg-12 col-md-12">
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center">
                <div class="section-heading-5">
                  <h2>
                    One Software, Every Solution
                  </h2>
                  <p>We designed and tested prototypes that helped identify pain points in the account
                    creation process. Together, we shaped the new standard.</p>
                </div>
              </div>
            </div>
            <div class="row feature-l-11-items justify-content-center">
              <div class="col-md-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-pen-01"></i>
                  </div>
                  <div class="content-body">
                    <h5>Easy to Use</h5>
                    <p>Whether it’s a small internal app or a new for millions of customers, our design and
                      development teams.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-layers-3"></i>
                  </div>
                  <div class="content-body">
                    <h5>300+ Blocks</h5>
                    <p>Whether it’s a small internal app or a new for millions of customers, our design and
                      development teams.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-office"></i>
                  </div>
                  <div class="content-body">
                    <h5>100% Responsive</h5>
                    <p>Whether it’s a small internal app or a new for millions of customers, our design and
                      development teams.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-book-open-2"></i>
                  </div>
                  <div class="content-body">
                    <h5>Rich Documentation</h5>
                    <p>Whether it’s a small internal app or a new for millions of customers, our design and
                      development teams.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-pen-01"></i>
                  </div>
                  <div class="content-body">
                    <h5>50+ Ready Pages</h5>
                    <p>Whether it’s a small internal app or a new for millions of customers, our design and
                      development teams.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
                <div class="d-flex ">
                  <div class="icon-box">
                    <i class="icon icon-settings-gear-64-2"></i>
                  </div>
                  <div class="content-body">
                    <h5>Quick Setup</h5>
                    <p>Whether it’s a small internal app or a new for millions of customers, our design and
                      development teams.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial Section -->

    <section class="testimonial" data-aos="fade" data-aos-delay="500" data-aos-duration="1000">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <ol class="carousel-indicators tabs">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-01-179x179.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-02-306x306.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2">
                            <figure>
                                <img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-03-179x179.png" class="img-fluid" alt="">
                            </figure>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
                        <h3>WHAT OUR DONORS SAY</h3>
                        <h1>TESTIMONIALS</h1>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>peter lee</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>peter lee</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="quote-wrapper">
                                    <p>I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
                                    <h3>peter lee</h3>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Newsletter-area start -->
    <div class="newsletter-l-11">
      <div class="container">
        <div class="row justify-content-center news-l-11-main-bg position-relative">
          <div class="news-l-11-second-bg w-100 h-100"></div>
          <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-11" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
            <div class="content text-center">
              <h5>Lets Save Lives Together</h5>
              <h2>Register As A Donor!</h2>
              <p>We designed and tested prototypes that helped identify pain points in the account creation
                process. Together, we shaped the new standard.</p>
              <div class="btn-area">
                <a href="#" class="btn"><i class="fas fa-download d-inline-block"></i>Register Now</a>
              </div>
              <span>Lorem ipsum dolor sit amet.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

    

    